* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #9ad3fe;
  color: #111930;
}
header,
main,
footer {
  min-width: 100%;
  padding: 20px;
}
header {
  font-size: 2rem;
  text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.8);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 1.3rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.contact-icons img {
  width: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 3px 6px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.contact-icons img:hover {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.98);
}
